@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: #B3B3B3;
  --transition: all 0.2s ease;
}
body{
  background: white;
}

/* d_admin */
.navbar{
  background: #60C581;
}
.navbar .nav-link:hover{
	background-color: grey;
}
.side_bar1 .side_bar2{
  background: #71E398;
}
.tambah1 a{
  background: #AFF4C6;
}
.display-4{
	font-weight: bold;
}
.card-body-icon{
	position: absolute;
	z-index: 0;
	top: 25px;
	right: 4px;
	opacity: 0.4;
	font-size: 90px;
}


/* #### */


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: #60C581;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-header .logo {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  color: #000;
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: justify;
  line-height: 50px;
}

.nav-links li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: #86D8BA;
}

.nav-links li:hover a {
  background: var(--color-hover);
}

.nav-links li:hover i {
  color: #fff;
}

.nav-links li a .title {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #fff;
}

.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.home {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 100vh;
  background: #ffffff;
  z-index: 6;
  transition: var(--transition);
}

.home .nav-top{
    background: #71E398;
    box-shadow: 1px 1px black;
}

.home .nav-top .img{
  border-color: #fff;
  border-style: solid;
}

.home .nav-top p{
  font-size: 20px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin: 10px;
  white-space: nowrap;
  font-family: Arial sans-serif;
  font-size:xx-large;
}


/* dashboard */
/* content */

.content .garis{
  background: #71E398;
  width: 97.5%;
  height: 5px;
}
.content .row{
  align-items: center;
}

.content .card{
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  background: #D9D9D9;
  border-radius: 20px;
}

.content .card p{
  margin-left: 10px;
  font-family: Arial sans-serif;
  font-weight: bold;
}

.content .card a{
  background: #AFF4C6;
}

.content .row .card-img{
  width: 100px;
  height: 100px;
}

.content a:hover{
  box-shadow: 1px 1px 1px; transform: scale(0.9);
}

/* popup */

.popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup_content{
  width: 40%;
  height: 90vh;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.25);
  opacity: 0;
  transition: all .5s .1s;
}

.popup_content h3{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #AFF4C6;
  font-weight: bold;
  font-family: Arial sans-serif;
  text-align: left;
}

.popup_img{
  display: flex;
  width: 20%;
  height: 20vh;
  margin-bottom: 5px;
}

.popup_img img{
  display: block;
  width: 100%;
}

.popup_header{
  margin-left: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
  align-items: center;
  font-family: Arial sans-serif;
}

.popup_header .konfirmasi{
  background: #AFF4C6;
  width: 90%;
  height: 5vh;
  margin-bottom: 10px;
  border-radius: 20px;
}

.logo_bayar a{
  margin-left: 20px;
}

.popup_text{
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 35px;
  column-gap: 48px;
}

.popup_btn{
  background-color: #fff;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

#popup:target{
  opacity: 1;
  visibility: visible;
}

#popup:target .popup_content{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup_close:link,
.popup_close:visited{
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  color: #000;
  line-height: 1;
  transition: all .2s;
  font-size: 20px;
  display: inline-block;
}
.popup_close:hover,
.popup_close:active{
  color: #555;
}

/* footer */

.footer{
  background: #B3B3B3;
}

.footer p{
  font-size: medium;
  color: black;
  font-weight: 500;
}

/* dashboard end */

/* pengaturan */
.kelas{
  background: white;
  width: 100%;
  font-weight: bold;
  font-size: xx-large;
}

.dashboard-content{
  background-color: #D1FFE0;
  height: 546px;
}

.dashboard-content .dropdown1:hover{
  transform:scale(0.98);
}

.dashboard-content .dropdown .dropdown1{
  background-color: #AFF4C6;
  margin: 20px;
  border-radius: 10px;
}

/* pengaturan end */

/* transaksi */

/* tentang_kami */
.jumbotron {
  padding-top: 3rem;
  background-color: #f2ffe9;
}

.container {
  background-color: #71e398;
  width: 100;
}

.container1 {
  background: #f2ffe9;
}

.footer {
  background: #b3b3b3;
}

.footer p {
  font-size: medium;
  color: black;
  font-weight: 500;
}