body{
    background: #eee;
}

#side_nav{
    background: #60C581;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #B3B3B3;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color:#000000;
}

.content nav.navbar{
    background: #71E398;
}

@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;

    }
    #side_nav.active{
        margin-left: 0;
    }
}

.dropdown{
<<<<<<< Updated upstream:PBL/dashboard html/style1.css
    background: lightgreen;
    border-radius: 15px;
=======
    background: #D1FFE0;
    border-radius: 8px;
    width: 161vh;
    justify-content: center;
    align-items: center;
    position: relative;
>>>>>>> Stashed changes:PBL/dashboard/style1.css
}

.dropdown .dropdown1{
    background: lightgreen;
<<<<<<< Updated upstream:PBL/dashboard html/style1.css
}

.footer{
    background: lightgray;
}

.footer1{
    background: #AFF4C6;
}

input[type="number"]{
    background-color: lightgreen;
    -moz-appearance: textfield;
}

.btn-login{
    background: lightgreen;
    border-radius: 15px;
}

.btn-submit{
    background: #86D8BA;
    border-radius: 15px;
    
}
=======
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    max-width: 960px;
}

>>>>>>> Stashed changes:PBL/dashboard/style1.css
